<div style="display: flex; margin: auto auto; justify-content: space-evenly; width: 250px;">
  <p>Item subtotal:</p>
  <p><%= basket_item_subtotal(product.id).format(no_cents_if_whole: true) %></p>
</div>