<div style="display: flex; flex-direction: column; margin: auto auto; margin-top: 30px;">
  <% if @basket_items.any? %>
    <% @basket_items.each do |product| %>
      <%= turbo_frame_tag dom_id(product) do %>
        <%= render partial: "item_breakdown", locals: { product: product } %>
      <% end %>
    <% end %>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%; border-top: 1px solid gray;">
      <%= turbo_frame_tag "basket_total" do %>
        <%= render partial: "total" %>
      <% end %>
    </div>

    <button>Checkout</button>
  <% else %>
    <h3>Basket is empty</h3>
  <% end %>
</div>