<div style="display: flex; padding: 1rem; border-bottom: 2px solid grey; justify-content: space-evenly;">
  <div style="width: 100px;"></div>
  <%= link_to products_path do %>
    <h1 style="margin: auto auto;">The Music Shop</h1>
  <% end %>

  <%= turbo_frame_tag "basket_items_counter" do %>
    <%= render partial: "shared/basket" %>
  <% end %>
</div>