<div style="display: flex; padding: 1rem; border-bottom: 2px solid grey; justify-content: space-evenly;">
  <%= link_to products_path do %>
    <h1 style="margin: auto auto; margin-bottom: 30px;">The Music Shop</h1>
  <% end %>
</div>