<div style="display: flex; flex-direction: column; margin: auto auto; margin-top: 30px;">
  <% @products.each do |product| %>
    <%= render partial: "product", locals: { product: product } %>
  <% end %>
</div>